<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="text-uppercase font-weight-bold text-left">
        <span class="badge badge-warning">Un poco sobre mí</span>
      </h3>
      <div class="container mt-3">
        <div class="container backPortada18">
          <div class="card backSobreMi19">
            <div class="row no-gutters">
              <div class="col-md-4 backYo21 mt-1">
                <img
                  *ngIf="mostrarYo"
                  (click)="yoMostrar()"
                  src="../../../assets/img/4a.jpg"
                  class="card-img cursor7 padin20"
                />
                <img
                  *ngIf="!mostrarYo"
                  (click)="yoMostrar()"
                  src="../../../assets/img/8a.jpg"
                  class="card-img cursor7 padin20"
                />
              </div>

              <div class="col-md-4 text-center">
                <div class="card-body">
                  <h5 class="card-title backTitulo22 mt-1">
                    Federica Daniela Jiménez
                  </h5>
                  <p class="card-text">Desarrolladora Web</p>
                  <div
                    (click)="tecnologias()"
                    class="container backTec23 cursor7"
                  >
                    <p class="colorName3">
                      <span class="badge badge-warning text-uppercase"
                        >tecnologías destacadas</span
                      >
                    </p>
                    <div class="row">
                      <div class="col">
                        <img
                          src="../../../assets/img/angular.png"
                          class="tamanoTec24"
                        />
                        <h6 class="mt-0 mb-1">
                          <small class="colorTec25 text-uppercase">
                            <strong>Angular</strong>
                          </small>
                        </h6>
                      </div>
                      <div class="col">
                        <img
                          src="../../../assets/img/node.png"
                          class="tamanoTec24"
                        />
                        <h6 class="mt-0 mb-1">
                          <small class="colorTec25 text-uppercase">
                            <strong>NodeJs</strong>
                          </small>
                        </h6>
                      </div>
                      <div class="col">
                        <img
                          src="../../../assets/img/boot.png"
                          class="tamanoTec24"
                        />
                        <h6 class="mt-0 mb-1">
                          <small class="colorTec25 text-uppercase">
                            <strong>Bootstrap</strong>
                          </small>
                        </h6>
                      </div>
                    </div>
                  </div>
                  <button
                    type="button"
                    class="btn btn-outline-warning btn-sm mt-4"
                  >
                    <span class="badge badge-warning">Leer más</span>
                  </button>
                </div>
              </div>

              <div class="col-md-4 backYo21 mt-1">
                <img
                  *ngIf="mostrarYo"
                  (click)="yoMostrar()"
                  src="../../../assets/img/5a.jpg"
                  class="card-img cursor7 padin20"
                />
                <img
                  *ngIf="!mostrarYo"
                  (click)="yoMostrar()"
                  src="../../../assets/img/9a.jpg"
                  class="card-img cursor7 padin20"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-modals></app-modals>
</div>
