<div class="container fixed-top colorBody1">
  <nav class="navbar navbar-expand-lg navbar-light colorNavbar2 mt-1">
    <a *ngIf="!modalService.online && modalService.ojo2" class="navbar-brand ml-3">
      <img *ngIf="ojo" (click)="onClick1()" src="/assets/img/ojo.png" width="40" height="40" />
      <img *ngIf="!ojo" (click)="onClick2()" src="/assets/img/ojo.png" width="40" height="40" />
    </a>
    <a *ngIf="modalService.online || modalService.ojo2" class="navbar-brand ml-3">
      <img src="/assets/img/ojo.png" width="40" height="40" />
    </a>
    <a class="navbar-brand colorName4 ml-3">
      <strong class="text-uppercase federica6">
        FedericaDJ
      </strong>
    </a>
    <button
      class="navbar-toggler colorBody1 mr-3"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container text-justify mx-5">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mx-1" routerLinkActive="active">
            <a class="nav-link colorName3" (click)="cerrarNav()" [routerLink]="['/inicio']"
              >Portada</a
            >
          </li>
          <li class="nav-item mx-1" routerLinkActive="active">
            <a class="nav-link colorName3" (click)="cerrarNav()" [routerLink]="['/noticia']"
              >Noticia</a
            >
          </li>
          <li class="nav-item mx-1" routerLinkActive="active">
            <a class="nav-link colorName3" (click)="cerrarNav()" [routerLink]="['/noticiaCompleta']"
              >Noticia completa</a
            >
          </li>
          <li class="nav-item mx-1" routerLinkActive="active">
            <a class="nav-link colorName3" (click)="cerrarNav()" [routerLink]="['/mensajes']"
              >Mensajes</a
            >
          </li>
          <li class="nav-item mx-1" routerLinkActive="active">
            <a class="nav-link colorName3" (click)="cerrarNav()" [routerLink]="['/ajustes']"
              >Ajustes</a
            >
          </li>

        </ul>

        <div class="text-center mx-5">

          
          <i *ngIf="login1" class="fas fa-sign-in-alt colorNegro16 fa-lg" data-toggle="tooltip" data-placement="left" title="Login" (click)="entrar()"></i>
          
          <div *ngIf="input1" class="input-group-sm " (keyup.enter)="inputLogin()">
            <input type="password" id="focusClave" [(ngModel)]="clave" name="clave" placeholder="Press Enter" class="form-control backInput15" aria-describedby="inputGroup-sizzing-sm">
          </div>
          
          
          <i *ngIf="modalService.online" class="fas fa-sign-out-alt fa-lg mr-4 colorName3 cursor7" (click)="logOut()"></i>
          <i *ngIf="modalService.online" class="fas fa-wifi fa-lg colorName3"></i>
        </div>
        <div class="row">
          <div class="col text-center">
            <p class="m-2">
              <button (click)="alerta()" class="btn btn-outline-warning my-2" (click)="cerrarNav()" type="buttom">
                <span class="badge badge-warning text-uppercase">Contacto</span>
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<app-modals></app-modals>
